################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BeerWorld-*/bin
/BeerWorld-*/obj
/TestResults/
.vs
.vscode/
